<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">
	<div data-sly-test="${!wcmmode.disabled}">
        <div data-sly-resource="${'clientcontext' @ resourceType='cq/personalization/components/clientcontext_optimized'}" data-sly-unwrap></div>
    </div>
	<div class='reveal'>
		<div class='slides'>

			<div data-sly-call="${ section @ slidePage=currentPage }" data-sly-unwrap></div>

			<div data-sly-test='${ !wcmmode.edit && !wcmmode.design }' 
    				data-sly-list.item='${ currentPage.listChildren }' data-sly-unwrap>

    			<div data-sly-call="${ section @ slidePage=item }" data-sly-unwrap></div>

			</div>

		</div>
	</div>

	<meta data-sly-call="${clientLib.angular @ categories='angularjs'}" data-sly-unwrap></meta>
	<meta data-sly-call="${clientLib.all @ categories='apps.brucelefebvre.pgday-talk.all'}" data-sly-unwrap></meta>

	<sly data-sly-test="${wcmmode.disabled}">
		<script type="text/javascript" data-sly-use.scriptph="${ 'com.brucelefebvre.pgday.PageHelper' @ page=currentPage}" src="${scriptph.relativePathToRoot}cordova.js"></script>
    </sly>

	<sly data-sly-test="${!wcmmode.disabled}">
        <div data-sly-resource="${'cloudservices' @ resourceType='cq/cloudserviceconfigs/components/servicecomponents'}" data-sly-unwrap></div>
    </sly>

	<div data-sly-include='reveal-init.html' data-sly-unwrap></div>
</sly>

<template data-sly-template.section="${ @ slidePage }">
			<div data-sly-use.ph="${ 'com.brucelefebvre.pgday.PageHelper' @ page=slidePage}" data-sly-unwrap>
				<section 
						data-background='${ ph.relPathToPageImage }'
    					data-state='${ slidePage.properties["data-state"] }'
    					data-background-position='${ slidePage.properties["data-background-position"] }'
    					data-background-size='${ slidePage.properties["data-background-size"] }'
                        data-slide-title='${ slidePage.title }'>
                    <div data-sly-resource="${ slidePage.path @ selectors='section' }" data-sly-unwrap></div>
				</section>
			</div>
</template>