<table class='three-image-row'>
	<tr>
    	<td >
			<div data-sly-resource="${@path='content-par/three-image-row1', resourceType='mobileapps/components/image'}" data-sly-unwrap></div>
        </td>
    	<td class='fragment'>
			<div data-sly-resource="${@path='content-par/three-image-row2', resourceType='mobileapps/components/image'}" data-sly-unwrap></div>
        </td>
    	<td class='fragment'>
			<div data-sly-resource="${@path='content-par/three-image-row3', resourceType='mobileapps/components/image'}" data-sly-unwrap></div>
        </td>
	</tr>
</table>