	<fieldset>
        <label> 
            <input type="radio" name="gender" value="anon" checked="checked" onchange="alert('gender: ' + this.value);"> 
            Anonymous
        </label>
        &nbsp;&nbsp;&nbsp;
        <label> 
            <input type="radio" name="gender" value="male" onchange="alert('gender: ' + this.value);"> 
            Male
        </label>
        &nbsp;&nbsp;&nbsp;
        <label>
            <input type="radio" name="gender" value="female" onchange="alert('gender: ' + this.value);"> 
            Female
        </label>
    </fieldset>