	<fieldset>
        <label>
            Age
            <select name="age" onChange="pgday.targetAge(this.value);">
				<option value="anon">Target Age</option>
				<option value="10">10</option>
				<option value="20">20</option>
				<option value="30">30</option>
				<option value="40">40</option>
				<option value="50">50</option>
				<option value="60">60</option>
            </select>
        </label>
    </fieldset>


<!--/*
	Old gender controls

	<fieldset>
        <label> 
            <input type="radio" name="gender" value="anon" checked="checked" onchange="pgday.targetGender(this.value);"> 
            Anonymous
        </label>
        &nbsp;&nbsp;&nbsp;
        <label> 
            <input type="radio" name="gender" value="male" onchange="pgday.targetGender(this.value);"> 
            Male
        </label>
        &nbsp;&nbsp;&nbsp;
        <label>
            <input type="radio" name="gender" value="female" onchange="pgday.targetGender(this.value);"> 
            Female
        </label>
    </fieldset>

*/-->