	<fieldset>
        <label> 
            <input type="radio" name="gender" value="anon" checked="checked" onchange="pgday.targetGender(this.value);"> 
            Anonymous
        </label>
        &nbsp;&nbsp;&nbsp;
        <label> 
            <input type="radio" name="gender" value="male" onchange="pgday.targetGender(this.value);"> 
            Male
        </label>
        &nbsp;&nbsp;&nbsp;
        <label>
            <input type="radio" name="gender" value="female" onchange="pgday.targetGender(this.value);"> 
            Female
        </label>
    </fieldset>
